<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1">
    <title>Rechenmeister</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <% if(details) { %>
        <link rel="icon" href="img/favicon.ico"> 
    <% } %>
</head>

<body>
    <% if(details) { %>
        <%- include('./_header.ejs', {desc: "Rangliste", ort: "Wer ist der Meister?", pic: ""})%>
        <main>
    <% } %>
    <% if(Spielerliste && SortierteKeys) { %>
        <table>
            <thead>
                <tr><th>Spielername</th><th>Aktuelle Aufgabe</th><th>Korrekte Aufgaben</th></tr>
            </thead>
                <tbody>
                <% for(var color of SortierteKeys) { %>
                    <tr style="background-color: <%= color %>;">
                        <td><%= Spielerliste[color].name %></td>
                        <td><%=Spielerliste[color].aufgabenIndex() %></td>
                        <td><%=Spielerliste[color].getRichtige() %></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    <% } %>
    <% if(details) { %>
        </main>
    <% } %>
</body>
</html>